<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SimpleDockerUI</title>
    <link rel="stylesheet" href="/Resource/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/Resource/ext-6.2.0/classic/theme-neptune/resources/theme-neptune-all.css" />
    <script src="/Resource/jquery-1.12.4/jquery.min.js"></script>
    <script src="/Resource/ext-6.2.0/ext-all.js"></script>
    <script src="/Resource/ext-6.2.0/classic/locale/locale-en.js"></script>
</head>

<body>
</body>

</html>
<script type="text/javascript">
    var menuType = 'SimpleDockerUI';
    var opendTabIds_cookieKey = menuType + '.opendTabIds';
    var opendTabIds = [];

    function logout(){
        $.ajax({
                url: '/api/Login',
                type: 'DELETE',
                success: function (response) {
                    Ext.Msg.alert('Success', 'Logout successed.',function(){
                        window.location.reload();
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.readyState == 0)
                        Ext.Msg.alert('Failed', 'Network error.');
                    else
                        Ext.Msg.alert('Failed', jqXHR.responseText.replace(/\n/g, '<br/>'));
                }
            });
    }

    Ext.onReady(function () {
        var menuTreeCmp = Ext.create('Ext.tree.Panel', {
            itemId: 'menuTree',
            //layout: 'fit',
            useArrows: true,
            rootVisible: false,
            listeners: {
                select: function (rowModel, record, index, eOpts) {
                    openTab(record);
                    saveConfig();
                }
            },
            root: {
                id: 'root',
                text: 'Root',
                expanded: true,
                children: [
                    {
                        id: 'b6a56089d4e544de941ae28c1f7d5210',
                        text: 'Image Manage',
                        url: '/View/image.html',
                        leaf: true
                    },
                    {
                        id: 'bca950c9de684d4193e14fd778557ba3',
                        text: 'Container Manage',
                        url: '/View/container.html',
                        leaf: true
                    },
                    {
                        id: '46e54a3a0552461ca899dd76650704e1',
                        glyph: 'xf08b@FontAwesome',
                        text: 'Logout',
                        url: 'javascript:logout();',
                        leaf: true
                    }
                ]
            }
        });
        //左侧菜单面板
        var leftMenuPanel = Ext.create('Ext.panel.Panel', {
            layout: 'fit',
            region: 'west',
            title: 'SimpleDockerUI',
            collapsible: true,
            //split: true,
            width: 200,
            items: [menuTreeCmp]
        });
        //主面板
        var mainPanel = Ext.create('Ext.tab.Panel', {
            region: 'center'
        });
        //视图
        Ext.create('Ext.container.Viewport', {
            layout: 'border',
            items: [leftMenuPanel, mainPanel]
        });

        //保存配置
        function saveConfig() {
            var expire = new Date();
            //有效期7天
            expire.setDate(expire.getDate() + 7);
            Ext.util.Cookies.set(opendTabIds_cookieKey, JSON.stringify(opendTabIds), expire, window.location.pathname);
        }
        //打开Tab
        function openTab(record) {
            var text = record.data.text;
            var item = {
                id: record.data.id,
                text: text,
                url: record.data.url
            }
            if (item.url == '#')
                return;
            if (item.url.startsWith('javascript:')){
                window.location.href = item.url;
                return;
            }
            var tab = mainPanel.getComponent(item.id);
            if (tab == null)
                tab = mainPanel.add({
                    id: item.id,
                    title: item.text,
                    closable: true,
                    html: '<iframe style="width: 100%; height: 100%; border: 0;" src="' + item.url + '" />',
                    listeners: {
                        close: function (tab, eOpts) {
                            var index = opendTabIds.indexOf(tab.id);
                            opendTabIds.splice(index, 1);
                            saveConfig();
                        }
                    }
                });
            if (opendTabIds.indexOf(tab.id) < 0)
                opendTabIds.push(tab.id);
            mainPanel.setActiveItem(tab);
        }

        //打开上次已经打开的标签
        var tmp = JSON.parse(Ext.util.Cookies.get(opendTabIds_cookieKey));
        if (tmp != null) {
            opendTabIds = tmp;
            for (var i = 0; i < opendTabIds.length; i++) {
                menuTreeCmp.getRootNode().visitPreOrder('', function (node) {
                    if (node.data.id == null || node.data.id == 'root')
                        return;
                    if (node.data.id == opendTabIds[i]) {
                        openTab(node);
                        return false;
                    }
                });
            }
        }
    });
</script>